* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:
		Arial,
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	font-size: 16px;
	color: #1E170F;
}

a {
	text-decoration: none;
	display: block;
	color: #1E170F;
}

img{
	width: 100%;
	height: auto;
	vertical-align: top;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

@media (min-width: 1024px)  {
	.container {
		min-width: 960px;
	}
}





/*========== 版尾 ==========*/
footer {
	width: 100%;
	color: #4E4E4E;
	font-size: 14px;
	text-align: center;
	padding: 16px 24px;
}





/*========== Banner & Youtube ==========*/
.pc {
	display: none;
}

.video {
	margin: auto;
	padding: 100px 0;
}

.video_yt {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video_yt iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile {
	width: 100%;
	margin: auto;
}

.mobile .video {
	padding: 0;
}

@media (min-width: 1024px)  {
	.pc {
		display: block;
		margin: auto;
	}

	.video {
		width: 1024px;
	}

	.mobile {
		display: none;
	}
}





/*========== 組合圖片 ==========*/
.combo {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.group_1, .group_2, .group_3 {
	display:flex;
	flex-wrap: wrap;
}

.group_1 a, .group_2 a {
	width: 50%;
}

.group_3 a, .group_4 a {
	width: 100%;
}


@media (min-width: 1024px)  {
	.group_1 a{
		width: 25%;
	}

	.group_3 a{
		width: 50%;
	}
}





/*========== 標題 ==========*/
.title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}





/*========== 作品列表 ==========*/
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 24px;
	margin: 0 auto;
}

.product_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}

.product_list_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: calc( 50% - 16px );
	margin-bottom: 32px;
}

.product_list_item .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 8px;
}

.product_list_item img {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #EEEEEE;
}

.product_list_item h3 {
	font-size: 18px;
	font-weight: bold;
}

.product_list_item p {
	color: #4E4E4E;
}

.product_list_item .button {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px;
}

.product_button {
	display: inline-block;
	padding: 10px 12px;
	border-radius: 4px;
}

@media (min-width: 768px)  {
	.product_list_item {
		width: calc( 33% - 16px );
	}
}

@media (min-width: 1024px)  {
	.product {
		padding: 40px 0;
	}

	.product_list {
		justify-content: space-between;
	}

	.product_list_item {
		width: calc( 16% - 16px );	
		margin-bottom: 0;
	}

	.product_list_item h3 {
	font-size: 16px;
	}

	.product_list_item p {
	font-size: 14px;
	}

	.product_button {
		margin-top: 32px;
	}
}





/*========== 注意事項 ==========*/
.info {
	border-radius: 8px;
	padding: 32px 48px;
	margin: 0 24px;
}

.info li{
	font-size: 14px;
	margin-bottom: 10px;
}

.info a {
	display: inline-block;
	color: #FF3B3F;
}

.info a:hover {
	color: #FF3B3F;
}

@media (min-width: 1024px)  {
	.info {
		width: 80%;
		margin: 0 auto;
	}
}





/*========== APP ==========*/
.app {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	padding: 20px 0;
}
.app a {
	display: block;
	width: 175px;
}

@media (min-width: 1024px)  {
	.app {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.app a {
		width: 200px;
	}
}