body {
	font-size: 18px;
    font-family: 'Quicksand', '微軟正黑體', Arial, sans-serif;
    color: #000;
    line-height: 24px;
}
a:hover, a:active, a:focus {
	outline: 0;
	text-decoration: none;
}
section {
	width: 100%;
	margin: auto;
	margin-bottom: 125px;
}
h2 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 55px;
}
h2:after {
	content: "";
	display: block;
	width: 45px;
	height: 3px;
	background-color: #000;
	margin: auto;
	margin-top: 10px;
}
/*h2 span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
}*/

@media screen and (min-width: 1450px) {
	section .container {
		width: 1400px;
	}
}

@media screen and (max-width: 1000px) {
	section {
		margin-bottom: 35px;
	}
}




/* ======================================================== 
					    Header 
======================================================== */
header {
	width: 100%;
	height: 68vh;
	min-height: 650px;
	background: linear-gradient(90deg, #3cbe9b 30%, #00a0eb);
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 15px;
}
.navbar {
	background: rgba(255, 255, 255, 0);
	border: 0;
	padding: 20px 0;
	margin-bottom: 0;
}
.navbar-default ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;	
	width: 1200px;
	margin: auto;
	margin-bottom: 0;
	padding: 20px;
	float: none;
}
.navbar-default ul li {
	padding: 0 25px;
}
.navbar-default .navbar-nav > li > a {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	transition: .3s;
	transform: translateY(0);
}
.navbar-default .navbar-nav > li > a:hover {
	transform: translateY(-5px);
	color: #ffeb00;
}
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
	color: #ffeb00;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffeb00;
	background-color: inherit;
}
/*.fixed-nav {
    background-color: #00a0eb;
}*/
.txtbox {
	align-self: center;
	box-sizing: border-box;
	width: 750px;
	text-align: center;
	color: #fff;
	padding-top: 55px;
}
.txtbox h1 {
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 20px;	
}
.txtbox h1 span {
	display: block;
	font-size: 32px;
	font-weight: 500;
	padding: 10px 0;
}
.txtbox p {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 55px;
}
.txtbox .more {
	display: inline-block;
	padding: 15px 25px;
	/*color: #00a0eb;*/
	color: #fff;
	font-weight: 600;
	/*background-color: #fff;*/
	border-radius: 50px;
	position: relative;
	animation: moving 1s linear infinite alternate;
}
@keyframes moving {
	0%{ transform: translateY(10px); }
	100%{ transform: translateY(-10px); }
}
.txtbox .more::before {
	content: "";
	width: 0;
	height: 0;
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -25px;
	margin: auto;
}
.txtbox .more::after {
	content: "";
	width: 0;
	height: 0;
	border-color: #2bb5b2 transparent transparent transparent;
	border-style: solid;
	border-width: 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	margin: auto;
}
.wave {
	height: 150px; 
	overflow: hidden;
	position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    z-index: 3;
}
svg {
	width: 100%;
	height: 100%;
}
svg path {
	stroke: none;
    fill: #fff;
}

@media screen and (min-width: 999px) {
	.txtbox p {
	    margin-bottom: 75px;

	}
}

@media screen and (max-width: 1220px) {
	.navbar ul {
		width: 100%;
	}
	.wave {
		height: 100px; 
		bottom: -25px;
	}
}

@media screen and (max-width: 999px) {
	header {
	    min-height: 600px;
	}
	.wave {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	header {
	    min-height: 500px;
	}	
	.navbar {
		padding: 0;
	}
	.navbar-default ul {
		justify-content: space-between;
	}
	/*.navbar-default .navbar-toggle {
	    border-color: rgba(255, 255, 255, 0);
	    z-index: 99;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #fff;
	}
	.navbar-default.fixed-nav .navbar-toggle {
		background-color: #00a0eb;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: inherit;
	}
	.navbar-default.fixed-nav .navbar-toggle:focus {
	    background-color: #00a0eb;
	}
	.navbar-fixed-top .navbar-collapse {
		height: 100% !important;
		max-height: 100%;
		border-color: #00a0eb;
	}
	.navbar-default .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #00a0eb;
		transition: .35s;
		transform: scale(0);
	}
	.navbar-default .navbar-collapse.in {
		display: block;
		transform: scale(1);
	}
	.navbar-default .navbar-collapse ul {
	    text-align: center;
		height: 100%;
		justify-content: center;
	    flex-wrap: wrap;
		flex-direction: column;
		padding: 25px 0;
	}*/
	.navbar-default ul li {
	    padding: 10px 0;
	}
	.navbar-default .navbar-nav > li > a {
		display: block;
		font-size: 18px;
	}
	.txtbox {
	    width: 100%;
	    padding-top: 45px;
	}
	.txtbox p {
		font-size: 17px;
		padding: 0 15px;
	}
}

@media screen and (max-width: 520px) {
	header {
	    min-height: 550px;
	}
}

@media screen and (max-width: 450px) {
	header {
	    min-height: 600px;
	}
}





/* ======================================================== 
					    Portfolio 
======================================================== */
.portfolio {
	position: relative;
	z-index: 10;
}
.portfolio .nav-tabs {
	text-align: center;
	border: 0;
	margin-bottom: 35px;
}
.portfolio .nav-tabs > li {
	float: none;
	display: inline-block;
}
.portfolio .nav-tabs > li + li {
	margin-left: 15px;
}
.portfolio .nav-tabs > li > a {
	color: #fff;
	width: 200px;
	background-color: #00a0e6;
	padding: 16px 0;
	font-weight: 600;
	border: 0;
	border-radius: 0;
	transition: .35s;
	position: relative;
}
.portfolio .nav-tabs > li > a:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	clip-path: polygon(0% 0%, 100%  0%,100% 100%);
	background-color: #ffeb00;
	width: 10px;
	height: 10px;
}
.portfolio .nav-tabs > li > a:hover, .portfolio .nav-tabs > li > a:focus, .portfolio .nav-tabs > li > a:active {
	color: #00a0e6;
	border: 0;
	background-color: #ffeb00;
}
.portfolio .nav-tabs > li.active > a {
	color: #00a0e6;
	background-color: #ffeb00;
}
.tab-content .tab-pane {
	text-align: center;
}
.item-box {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.item {
	width: 0;
	flex-basis: 30.3333%;
	margin-bottom: 35px;
	position: relative;
}
.item + .item {
	margin-left: 4.5%;
}
.item:nth-child(3n+1) {
	margin-left: 0;
}
.item .item-img {
	display: inline-block;
	vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	overflow: hidden;
}
.item-img img {
    transform: scale(1);
	transition: .3s;
}
.item-img:hover img {
	transform: scale(1.1);
}
.item .item-img a {
	display: none;
}
.item span {
	font-size: 14.5px;
	font-family: 'Rubik', Arial, sans-serif;
	color: #fff;
	line-height: 16px;
	letter-spacing: 1px;
	background-color: #00a0e6;
	padding: 6px 8px;
	position: absolute;
	top: 15px;
	right: -8px;
}
.item span::after {
    content: "";
    display: inline-block;
    border-color: #106a92 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 10px 0 0;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    bottom: -8px;
}
.item p {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
.modal-body img {
    margin: auto;
}
.modal .close {
	font-size: 32px;
	line-height: 24px;
    margin-top: 0;
}
.btn-web, .btn-more {
	color: #fff;
	background-color: #00a0e6;
}
.btn-more {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 25px;
}
.btn-more:hover, .btn-more:focus, .btn-more:active {
	color: #00a0e6;
	background-color: #ffeb00;
}

@media screen and (min-width: 1200px) {
	.modal-lg {
	    width: 1200px;
	}
}

@media screen and (max-width: 1000px) {
	.item-box {
		justify-content: space-between;
	}
	.item {
		flex-basis: 45.5%;
	}
	.item + .item {
    	margin-left: 0;
	}
	.item {
	    flex-basis: 48%;
	}
}

@media screen and (max-width: 768px) {
	.portfolio .nav-tabs {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-inline-start: 0;
		-webkit-padding-start: 0;
	}
	.portfolio .nav-tabs > li {
	    flex-grow: 3;
	    margin-left: 0;
	}
	.portfolio .nav-tabs > li > a {
		width: 100%;
		text-align: center;
		margin: 0;
	}
}





/* ======================================================== 
					     About 
======================================================== */
.about {
	background-color: #f8f8f8;
	padding: 55px 0;
	margin-bottom: 0;
}
.about-content {
	display: flex;
	margin: auto;
}
.about-img {
	flex-basis: 25%;
}
.about-img img {
	width: 100%;
	border-radius: 50%;
	vertical-align: middle;
}
.about-txt {
	flex-basis: 75%;
	padding: 0 25px;
}
.about-txt h4 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}
.about-txt h4 span {
	font-size: 22px;
}
.about-txt .intro {
	color: #444;
	line-height: 32px;
	margin-bottom: 25px;
}
.about-txt .infor {
	display: flex;
	font-family: 'Rubik', Arial, sans-serif;
	font-weight: 400;
}
.about-txt .infor-link {
	margin-bottom: 35px;
}
.infor-link a p {
	color: #444;
	transition: .3s;
}
.infor-link a:hover p, .infor-link a:focus p, .infor-link a:active p {
	color: #00a0e6;
	text-decoration: underline;
}
.about-txt .infor-txt {
	color: #444;
}
.about-txt .infor-txt:last-child {
	margin-left: 35px;
}
.infor-txt i, .infor-txt p {
	display: inline-block;
}
.infor-txt i {
	width: 40px;
	height: 40px;
	font-size: 15px;
	line-height: 37px;
	text-align: center;
	color: #fff;
	background-color: #00a0e6;
	border-radius: 50%;
	border: 1px solid #00a0e6;
	margin-right: 10px;
}
.about-txt .dev p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
}
.about-txt .dev ul {
	list-style: none;
	padding-inline-start: 0;
	-webkit-padding-start: 0;
	margin-bottom: 35px;
}
.about-txt .dev li {
	color: #444;
	text-indent: -18px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.dev li::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #444;
	margin-right: 10px;
}

@media screen and (min-width: 1000px) {
	.about-content {
		width: 1000px;
	}
}

@media screen and (max-width: 768px) {
	.about-content, .about-txt .infor {
		flex-wrap: wrap;
	}
	.about-txt .infor-link {
	    flex-wrap: nowrap;
	}
	.about-img {
		flex-basis: 300px;
		margin: auto;
		margin-bottom: 50px;
	}
	.about-txt, .infor-txt {
	    flex-basis: 100%;
	}
	.about-txt .infor-txt:last-child {
	    margin-left: 0;
	}
	.infor-txt {
		margin-bottom: 15px;
	}
}




/* ======================================================== 
					     Footer
======================================================== */
footer {
	padding: 15px 0;
	background: linear-gradient(90deg, #3cbe9b 30%, #00a0eb);
}
footer p {
	font-size: 15px;
	color: #fff;
	font-weight: 500;
	letter-spacing: .5px;
	margin-bottom: 0;
	text-align: center;
}
.back-to-top {
	display: none;
	width: 40px;
	height: 40px;
	line-height: 20px;
	font-size: 18px;
	color: #fff;
    border-radius: 50%;
    background-color: #00a0eb;
    border-color: #00a0eb;
	padding: 0;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;    
}
.back-to-top:hover, .back-to-top:active, .back-to-top:focus {
    background-color: #ffeb00;
    border-color: #ffeb00;
    color: #00a0e6;
}


