/*========================================================
                   Bootstrap Reset
=========================================================*/
body {  
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", "MingLiu", sans-serif;
    /*font-family: Arial, "Microsoft Yahei", "微軟正黑體", "Microsoft JhengHei", "MingLiu", sans-serif;*/
    color: #554646;
    letter-spacing: 1px;
    font-size: 14.5px;
    font-weight: 400;
}
h1.hide {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}
h2, h3, h4, p {
    color: #554646;
    transition: all 0.2s ease;
}
a, a > p, a > span {
    color: #554646;
    transition: all 0.2s ease;
    outline: none !important;
}
button {
    outline: none !important;
}
a:hover, a:hover > h2, a:hover > h4, a:hover > p, a:hover > span, a:active, a:active > h2, a:active > h4, a:active > p, a:active > span, a:focus, a:focus > h2, a:focus > h4, a:focus > p, a:focus > span {
    color: #ff9000 !important;
    text-decoration: none;
}
a:hover img {
    opacity: 0.7;
    background-color: #fff;
}
.heighten {
    margin-top: 20px;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
main, article {
    margin-top: 150px;
}
.logo:hover img, .logo:focus img, .logo:active img {
    opacity: 1;
}
input {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-group input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}
.form-group input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
.img-fit {
    object-fit: cover;
    font-family: 'object-fit: cover;'
}
@media (min-width: 1217px) {
    .container {
        width: 1200px;
    }
}
@media (max-width: 1000px) {
    input, textarea {
        font-size: 16px !important;
    }
}

/*====== 按鈕&連結 ======*/
.btn i {
    letter-spacing: 0;
}
.btn-size {
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    padding: 7px 10px 5px;
}
.btn-size:hover, .btn-size:active, .btn-size:focus {
    color: #fff;
}
.btn-login {
    border-color: #da5948;
    background-color: #f27362;
}
.btn-login:hover, .btn-login:active, .btn-login:focus {
    border-color: #da5948 !important;
    background-color: #da5948 !important;
}
.btn-edit, .btn-friend, .btn-basic {
    color:#554646;
    border-color: #dad5ca;
    background-color: #faf8f4;
}
.btn-edit:hover, .btn-edit:active, .btn-edit:focus, .btn-friend:hover, .btn-friend:active, .btn-friend:focus, .btn-basic:hover, .btn-basic:active, .btn-basic:focus {
    color:#ff9000 !important;
    background-color: #fff4e8 !important;
}
.btn-deleted {
    color: #e6749c;
    border-color: #e6749c;
    background-color: #fff;
}
.btn-deleted:hover, .btn-deleted:active, .btn-deleted:focus {
    color: #fff;
    border-color: #e6749c !important;
    background-color: #e6749c !important;
}
.btn-draft {
    color: #3475d7;
    border-color: #3475d7;
    background-color: #fff;
}
.btn-draft:hover, .btn-draft:active, .btn-draft:focus {
    color: #fff;
    border-color: #3475d7 !important;
    background-color: #3475d7 !important;
}
.btn-preview {
    color: #42b12c;
    border-color: #42b12c;
    background-color: #fff;
}
.btn-preview:hover, .btn-preview:active, .btn-preview:focus {
    color: #fff;
    border-color: #42b12c !important;
    background-color: #42b12c !important;
}
.btn-ok {
    border-color: #de7526;
    background-color: #f88631;
}
.btn-ok:hover, .btn-ok:active, .btn-ok:focus {
    color: #fff !important;
    border-color: #d96712 !important;
    background-color: #d96712 !important;
}
.btn-message {
    color: #554646;
    border-color: #554646;
    background-color: #fff;
}
.btn-message:hover, .btn-message:active, .btn-message:focus {
    color: #fff;
    border-color: #554646 !important;
    background-color: #554646 !important;
}
.btn-collect {
    display: block;
    color:#fff;
    background-color: #554646; 
    border-color: #554646; 
}
.btn-on {
    display: block;
    color: #fff;
    border-color: #da5948;
    background-color: #f27362;
} 
.btn-off.active {
    display: none;
}
.btn-pro-del {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    border: 0;
} 

/*====== 麵包屑 ======*/
.breadcrumb {
    font-size: 14px;
    background-color: #fff;
    line-height: 22px;
    margin-bottom: 0;
}
.breadcrumb > .active h1 {
    display: inline-block;
    color: #ff9000;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}
.title a.active {
    color: #ff9000;
}
.breadcrumb > .active::before {
    display: none;
}
.breadcrumb > .active h1::before {
    display: inline-block;
    content: "/\00a0";
    color: #ccc;
    padding: 0 5px;
}

@media(max-width:992px) {
    .wrapper {
        width:100%;
    } 
    main, article {
        margin-top: 75px;
    }
}

/*====== 分頁 ======*/
.page {
    display: block;
    margin: 0 auto;
}
.pagination {
    margin-top: 35px;
    margin-bottom: 35px;
}
.page > .pagination > li > a {
    color: #554646;
}
.page > .pagination > li > a:hover, .page > .pagination > li > a:active, .page > .pagination > li > a:focus {
    background-color: #fff4e8;
}
.page > .pagination > .active > a, .page > .pagination > .active > a:hover, .page > .pagination > .active > a:focus, .page > .pagination > .active > a:active {
    color: #fff !important;
    background-color: #554646 !important;
    border-color: #554646 !important;
}


/*========================================================
                   fooding Index CSS
=========================================================*/

/*====== 公告 ======*/
.alert.notices {
    padding: 15px 15px 12px;
}
.alert-dismissible.notices .close {
    top: 0;
    right: 0;
}
.alert.notices p span {
    color: red;
    font-weight: bold;
}

/*====== 首頁輪播 ======*/
.index-carousel {
    margin-bottom: 20px;
}
.carousel-indicators {
    bottom: 5px;
}
.carousel-indicators li {
    max-width: 10px;
    height: 10px;
    border: 1px solid #d4d4d4 !important;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    margin-left: 3px;
    margin-right: 3px;

}
.carousel-indicators .active {
    width: 13px;
    max-width: 13px;
    height: 13px;
    border: 1px solid #ff9000 !important;
    background-color: #ff9000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}
.index-carousel a:hover img, .index-carousel a:active img, .index-carousel a:focus img {
    opacity: 1;
}
.box-imgad img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.box-imgad:hover img, .box-imgad:active img, .box-imgad:focus img {
    opacity: 1;
}

/*====== 專題推薦 ======*/
.box-topic .thumbnail {
    border: none;
    padding: 0;
}
.box-topic h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0;
    transition: all 0.2s ease;
}
.box-topic a:hover h2, .box-topic a:active h2, .box-topic a:focus h2 {
    color: #ff9000;
}
.box-topic a:hover img {
    opacity: 0.8;
}

/*====== 專題推薦-右邊list ======*/
.topiclist a.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}
.topiclist a.list-group-item:hover, .topiclist a.list-group-item:focus {
    background-color: #fff4e8;
}

/*====== 標題title ======*/
.title {
    border-bottom: 1px solid #ddd;
    margin: 20px 15px 15px;
}
.col-md-8 .title {
    margin-left: 0;
    margin-right: 0;
}
.title h3 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.title .category {
    display: inline-block;
    line-height: 28px;
}
.category li {
    display: inline-block;
    padding: 0;
}
.category li::after {
    content: "/";
    padding-left: 8px;
    padding-right: 8px;
}
.category li:last-child::after {
    content: "";
    padding-left: 0;
    padding-right: 0;
}
.category li a {
    font-size: 15px;
}

/*====== 好食材TV ======*/
.box-tv {
    margin-bottom: 20px;
}

/*====== 推薦食譜 ======*/
.slick-slider {
    margin-left: 35px;
    margin-right: 35px;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-prev, .slick-next {
    top: 43%;
}
.slick-prev::before, .slick-next::before {
    color: #f88631;
}
.box-slider img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.box-slider h4 {
    font-size: 14.5px;
    line-height: 22px;
}
.box-slider a:hover img {
    opacity: 0.8;
}

/*====== 推薦文章 ======*/
.article-left .thumbnail, .article-right .thumbnail {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.article-left img {
    width: 100%;
    height: 335px;
    object-fit: cover;
}
.article-left h2, .article-left h4{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article-left p {
    color: #8f857d;
    line-height: 24px;
}
.article-right {
    padding-left: 0;
    padding-right: 0;
}
.article {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-article img {
    width: 100%;
    height: 165px;
    object-fit: cover;
}
.box-article h2, .box-article h4{
    font-size: 14.5px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 0;
}
.article-left a:hover img, .right-content a:hover img {
    opacity: 0.8;
}

/*====== 來買好食材 ======*/
.product-right {
    padding-left: 0;
    padding-right: 0;
}
.product {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-product .thumbnail {
    border: none;
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.box-product h2, .box-product h4 {
    font-size: 14.5px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
}
.box-product p {
    color: #f27362;
    font-size: 18px;
    font-weight: bold;
}
.box-product p del {
    font-size: 12px;
    color: #b3b3b3;
    padding-right: 5px;
}
.box-product a:hover img {
    opacity: 0.8;
}
.box-product a:hover h4, .box-product a:active h4, .box-product a:focus h4 {
    color: #ff9000 !important;
}
.box-product a:hover p, .box-product a:active p, .box-product a:focus p {
    color: #f27362 !important;
}
.box-product .price-over {
    margin-top: 2px;
    margin-bottom: 0;
    color: #d0d0d0;
}
.box-product a:hover .price-over, .box-product a:active .price-over, .box-product a:focus .price-over {
    color: #d0d0d0 !important;
}
.box-product .over {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    background-color: #928576;
    padding: 5px 10px 4px 11px;
    margin-bottom: 5px;
}
.box-product a:hover .over, .box-product a:active .over, .box-product a:focus .over {
    color: #fff !important;
}
a.freeshipping, a.discounts {
    width: 42px;
    line-height: 42px;
    border-radius: 50%;
    font-size: 13.5px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
}
a.freeshipping {
    background-color: #f88631;
    position: absolute;
    top: 8px;
    left: 8px;
}
a.discounts {
    background-color: #56b5cb;
    position: absolute;
    top: 8px;
    right: 8px;
}
.freeshipping:hover, .freeshipping:focus, .discounts:hover, .discounts:focus {
    color: #fff !important;
}

/*====== 右側邊廣告 ======*/
.rightbox {
    background-color: #fff;
    position: fixed;
    right: 30px;
    top: 50%;
    z-index: 99;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px;
}
.rightbox a {
    display: block;
    width: 200px;
    height: auto;
}
.rightbox a:hover img, .rightbox a:active img {
    opacity: 1;
}
.rightbox img {
    width: 100%;
    border-radius: 5px;
}
.rightbox .btn-close {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background-color: #554646;
    border: 0;
    padding: 0;
    position: absolute;
    top: -13px;
    right: -13px;
}
.rightbox .btn-close:hover, .rightbox .btn-close:active {
    background-color: #ff9000;
    color: #fff;
}
.rightbox .btn-close i {
    line-height: inherit;
}

/*====== 回到最上層 ======*/
.btn-top {
    cursor: pointer;
    padding: 0;
    width: 40px;
    line-height: 40px;
    height: 40px;
    border-radius: 50%;
    transition: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.btn-top .glyphicon {
    line-height: inherit;
    top: 0;
    left: 1px;
}

/*====== Google廣告 ======*/
.ads { 
    margin-top: 25px;
    margin-bottom: 25px;
}
.row.ads > .col-xs-12 > div {
    margin: auto;
}
.ads img {
    margin: auto;
}

/*=============== 平板區 ===============*/
@media screen and (min-width:737px) and (max-width:1024px) {
    .article-right .thumbnail {
        height: auto;
        margin-bottom: 15px;
    }
}

/*=============== 手機版 ===============*/
@media screen and (max-width:768px) {
    .heighten {
        margin-top: 25px;
    }
    .alert.notices {
        margin-left: -5px;
        margin-right: -5px; 
    }
    .notices p {
        padding-right: 20px;
    }
    .index-carousel {
        padding-left: 0;
        padding-right: 0;
    }
    .topic {
        padding-left: 0;
        padding-right: 0;
    }
    .box-topic {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-topic h2 {
        font-size: 14px;
        line-height: 20px;
        padding: 8px;
        margin: 0 0 10px;
        background-color: #faf8f4;
        height: 50.5px;
        display: -webkit-box;
        overflow : hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 51.5px; /* 20*2+8 */
    }
    .topiclist {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title {
        margin: 20px 10px 15px;
    }
    .category {
        padding-left: 0; 
    }
    .box-tv, .box-stopic {
        padding-left: 10px;
        padding-right: 10px;
    }
    .slick-slide {
        margin: 0px 10px;
    }
    .box-slider img {
        height: 175px;
    }
    .article-left {
        padding-left: 10px;
        padding-right: 10px;
    }
    .article-left .thumbnail {
        padding: 0;
    }
    .article-left img {
        height: 205px;
    }
    .article {
        margin-left: 0;
        margin-right: 0;
    }
    .box-article {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-article .thumbnail {
        min-width: 100%;
        height: auto; 
        padding: 0;
        margin-bottom: 20px;
    }
    .box-article img {
        height: 155px;
    }
    .box-product {
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-product .thumbnail {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .rightbox {
        display: none;
    }
    .box-ad {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .box-ad img {
        padding: 0 30px;
        margin: 0 auto; 
    }
}

@media screen and (max-width:320px) {
    .box-stopic img , .box-stopic .box-stopic-right img {
        height: 255px;
    }
}


/*========================================================
                   Shop Index CSS
=========================================================*/

/*====== 熱銷排行 ======*/
.hotitem {
    position: relative;
    margin-top: 20px;
}
.hotitem h3 {
    font-size: 22px;
    font-weight: bold;
    color: #554646;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 9px;
    left: 15px;
}
.hotitem .nav-tabs {
    margin: 0 15px 15px;
}
.hotitem .nav-tabs > li {
    float: right;
}
.hotitem .nav-tabs > li > a {
    font-size: 15px;
    padding: 8px 15px;
}
.hotitem .nav-tabs > li > a:hover {
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom-color: #ddd;
}
.hotitem .nav-tabs > li.active > a, .hotitem .nav-tabs > li.active > a:focus, .hotitem .nav-tabs > li.active > a:hover {
    color: #ff9000;
    border: 1px solid #ddd;
    border-bottom-color: #fff;
}

/*====== 促銷活動 ======*/
.box-event .thumbnail {
    border: none;
    padding: 0;
}
.box-event h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0;
    transition: all 0.2s ease;
}
.box-event a:hover h2, .box-event a:active h2, .box-event a:focus h2 {
    color: #ff9000;
}
.box-event a:hover img {
    opacity: 0.8;
}

/*====== 三大分類 ======*/
.classify {
    padding: 0 35px;
    margin-top: 30px;
}
.box-classify .thumbnail {
    padding: 15px;
    position: relative;
    margin-bottom: 0;
    border: none;
}
.box-classify .thumbnail h2, .box-classify .thumbnail h3 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    background-color: #fff4e8;
    color: #ff9000;
    text-align: center;
    padding: 14px 10px 10px;
    margin-top: 0px;
}
.box-classify .thumbnail:hover h2, .box-classify .thumbnail:hover h3 {
    background-color: #f88631;
    color: #fff !important;
}
.box-classify .thumbnail i {
    font-size: 12px;
}
.box-classify p {
    width: 42px;
    line-height: 42px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #f88631;
    position: absolute;
    top: 0;
    left: 10px;
}
.box-classify-green .thumbnail h2, .box-classify-green .thumbnail h3 {
    color: #55bb33;
    background-color: #ebffe5;
}
.box-classify-green .thumbnail:hover h2, .box-classify-green .thumbnail:hover h3 {
    background-color: #55bb33;
    color: #fff;
}
.box-classify-green p {
    background-color: #55bb33;
}

/*====== 好品牌 ======*/
.brand {
    margin-top: 10px;
    margin-bottom: 20px;
}
.brand-slider .box-slider img {
    height: auto;
}

/*=============== 平板區 ===============*/
@media screen and (max-width:991px) {
    .classify {
        padding: 0;
    }
}

/*=============== 手機版 ===============*/
@media screen and (max-width:768px) {
    .carousel-indicators {
        bottom: -5px;
    }
    .hotitem {
        margin-top: 10px
    }
    .hotitem h3 {
        top: 5px;
        left: 10px;
    }
    .hotitem .nav-tabs {
        margin: 0 10px 15px;
    }
    .hotitem .nav > li > a {
        padding: 6px 13px;
    }
    .hotitem .box-product .thumbnail {
        padding: 0;
    }
    .box-event {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-event h2 {
        margin: 10px 0 20px;
    }
    .banner-m {
        padding-left: 10px;
        padding-right: 10px; 
        margin-top: 10px; 
        margin-bottom: 20px;
    }
    .btn-shopmore {
        padding: 8px 80px;
        border-radius: 5px;
        font-size: 15px;
        color: #554646;
        background-color: #fff;
        border-color: #554646;
        margin-top: 10px;
        margin-bottom: 20px; 
    }
    .btn-danger.btn-shopmore:hover, .btn-danger.btn-shopmore:active, .btn-danger.btn-shopmore:focus {
        color: #fff !important;
        background-color: #554646;
        border-color: #554646;
    }
    .box-classify p {
        width: 50px;
        line-height: 50px;
    }
    .ads {
        display: none;
    }
}

@media screen and (max-width:320px) {
    span.freeshipping, span.discounts {
        width: 35px;
        line-height: 35px;
        font-size: 12.5px;
    }
    span.freeshipping {
        top: 6px;
    }
    span.discounts {
        top: 6px;
    }
    .hotitem .nav > li > a {
        padding: 6px 7px;
    }
}


/*========================================================
                   Search CSS
=========================================================*/

/*====== 食譜+文章 ======*/
.navbar-search {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-search .nav {
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.navbar-search .nav li a:hover, .navbar-search .nav li a:focus {
    background-color: #fff4e8;
}
.navbar-search .nav li.active a {
    color: #ff9000;
    font-weight: bold;
}
.navbar-search .nav li.active::after {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f88631;
    content: "";
    position: absolute;
    bottom: -1px;
    z-index: 2;
}
.navbar-search .nav li a {
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-search .select-left select {
    width: 100%;
    padding: 8px 5px;
}
.search-text {
    font-size: 13.5px;
    padding: 0 10px;
    margin: 10px 0 20px;
}
.search-text span {
    color:#ff9000;
}
.article-search h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    max-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    margin-bottom: 5px;
}
.article-search p {
    color: #8f857d;
    line-height: 24px;
    max-height: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}