body {
	font-family: Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
	background-color: #e8f1f2;
}

.topbg {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 26.04%;
	background-image: url(../images/topbg-.jpg);
	background-size: cover;
	position: relative;
}

.topbanner {
    position: absolute;
    width: 29.427083%;
    top: 15%;
    left: 25%;
}

.bg {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 64.09%;
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

.box01 {
	position: relative;
}

.contextbox {
	padding: 50px;
}

.contextbox h3 {
	font-size: 26px;
	color: #218779;
	font-weight: bold;
	line-height: 30px;
	border-bottom: 1px solid #218779;
}

.contextbox p {
	font-size: 20px;
}

.contextbox a {
	color: #333;
}

.contextbox .text {
	padding-left: 105px;
}

.contextbox .name {
	font-size: 22px;
	font-weight: bold;
	line-height: 50px;
}

.button {
	width: 280px;
	position: absolute;
	right: 8%;
	bottom: 3%;
}

.boxbtn:hover {
	opacity: 0.6;
}

.box02 {
	margin-top: 30px;
}

.footer img {
	display: block;
	width: 25vw;
	margin: 0 auto;
	margin-top: 20px;
}
.footer h4{
	font-size: 14px;
}

.right {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.right a{
	display: block;
	width: 127px;
	height: 123px;
	background-image: url(../images/bn-03.png);
	text-indent: -9999px;
}

.right a:hover {
	background-image: url(../images/bn-03a.png);
}


/* ======手機版====== */
@media screen and (max-width: 736px) {
	body {
		font-size: 16px;
	}

	.topbg {
		display: block;
		width: 100%;
		height: 0;
		background-image: url(../images/topbanner-m.jpg);
		padding-bottom: 62.5%;
		background-size: cover;
		position: relative;
		min-height: 0;
	}

	.bg {
		display: block;
		width: 100%;
		height: auto;
		padding-bottom: 0;
		background-image: none;
		overflow: hidden;
	}

	.contextbox {
		padding: 30px;
	}

	.btn-process, .btn-note {
		padding: 10px 20px;
		font-size: 18px;
		line-height: 28px;
		margin: 0 5px;
	}

	.btn-process {
		background-color: #f56e14;
		border-color: #f56e14;
	}

	.btn-note {
		background-color: #ed6a5a;
		border-color: #ed6a5a;
	}
	
	.footer img {
		width: 90vw;
	}

	.right {
		position: fixed;
		bottom: 5px;
		right: 5px;
	}

	.right a{
		display: block;
		width: 102px;
		height: 98px;
		background-image: url(../images/bn-03-m.png);
		text-indent: -9999px;
	}

	.right a:hover {
		background-image: url(../images/bn-03a-m.png);
	}

	h3.modal-title {
		font-weight: bold;
		color: #f56e14 !important;
		line-height: 34px;
	}

	.modal-note-text ul {
		padding-left: 20px;
	}
	

}
