body {
	font-family: "Montserrat", Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
	letter-spacing: 1px;
	color: #371914;
	background-color: #faf5f5;
	background-image: url(../images/bg.png);
	background-size:cover;
	background-position: center center;
}

/* ----- topbanner ----- */
.jumbotron {
	background-image: url(../images/topbg.png);
	min-height: 77vh;
	background-position: center bottom;
	background-size:cover;
	margin-bottom: 0;
	background-color: #faf5f5;
}

.topbanner {
	width: 100%;
}

.top-0 {
	width: 7.85%;
	margin-left: 10%;
	margin-top: 6.85%;
}

.top-1 {
	width: 10.25%;
	position: absolute;
	right: 23.55%;
	top: 15%;
	z-index: 1;
}

.top-2 {
	width: 14.25%;
	position: absolute;
	right: 19.65%;
	top: 20.55%;
	z-index: 2;
}

.top-3 {
	width: 14.85%;
	position: absolute;
	right: 13%;
	top: 28.65%;
	z-index: 3;
}

.top-4 {
	width: 14.85%;
	position: absolute;
	right: 15%;
	top: 39.65%;
	z-index: 4;
}

.full-x {
	width: 100%;
}

 @media screen and (min-width: 768px) and (max-width: 1024px) {
	.jumbotron {
		min-height: 60vh;
	}

	.top-0 {
		width: 10.85%;
		margin-left: 10%;
		margin-top: 8.85%;
	}

	.top-1 {
		width: 12.25%;
		position: absolute;
		right: 19.55%;
		top: 10%;
	}

	.top-2 {
		width: 20.25%;
		position: absolute;
		right: 15.65%;
		top: 15.55%;
	}

	.top-3 {
		width: 19.85%;
		position: absolute;
		right: 6%;
		top: 23.5%;
	}

	.top-4 {
		width: 19.85%;
		position: absolute;
		right: 9%;
		top: 31.65%;
	}
 }

@media screen and (max-width: 736px) {
	.jumbotron {
		min-height: 0;
		width: 100%;
		height: 0;
		background-image: url(../images/topbg-m.png);
		padding-bottom: 58.5%;
		background-size: cover;
		background-color: #faf5f5;
		margin-bottom: 0
	}

	.topbanner {
		width: 58%;
	}
}

.logo-l {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9;
}

.logo-l img {
	height: 4.5vh;
}

.logo-r {
	position: absolute;
	top: 8px;
	right: 13px;
	z-index: 9;
}

.logo-r img {
	height: 9vh;
}

/* ----- title ----- */
.title img {
	margin: 0 auto; 
	margin-bottom: 15px;
}

.title p {
	font-size: 15px; 
	line-height: 30px;
}

@media screen and (max-width: 736px) {
	.title img {
		width: 20vh;
		margin-top: 15px;
	}
}

/* ----- porduct ----- */
.box {
	margin-top: 50px;
	margin-bottom: 80px;
}

.porduct01 {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
	padding-left: 50px; 
	padding-right: 50px;
}

.vporduct01 > [class^="col-"], .porduct01 > [class*=" col-"] {
	display: flex;
	align-items: center;
}

.product-text-right {
	padding-left: 75px;
	text-align: right; 
}

.product-text-left {
	margin-left: 15px;
}

.thumbnail {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	margin-bottom: 0;
}

a {
	text-decoration: none !important;
	outline: none !important;
}

a:hover img {
	opacity: 0.8
}

h4, .h4 {
	font-size: 1.714em;
	line-height: 1.45em;
	color: #371914;
	padding-bottom: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}

.caption {
	padding: 5px 0;
}

.caption h4 {
	font-size: 21px;
	margin-top: 0; 
	margin-bottom: 10px;
}

.caption p {
	font-size: 16px;
	color: #2b120c;
	line-height: 30px;
}

.caption p.price {
	font-size: 26px;
	color: #371914;
	font-weight: bold;
}

.btn-round {
	font-size: 13px;
	border: none;
	border-radius: 30px !important;
	background-color: #573a32;
	color: #fff;
	padding: 7px 15px;
}

.btn-round:hover, .btn-round:active, .btn-round:focus {
	background-color: #371914 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent !important;
}

.porductbox .caption p {
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
}

.porductbox .caption p.price {
	font-size: 20px;
	color: #371914;
	font-weight: bold;
	padding-top: 0;
}

@media screen and (max-width: 736px) {
	.box {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.porduct01 {
		display: block;
		flex-direction: row;
		padding-left: 0; 
		padding-right: 0;
	}

	.img-m img {
		height: 250px !important;
		width: 100%;
		object-fit: cover;
	}

	.vporduct01 > [class^="col-"], .porduct01 > [class*=" col-"] {
		display: block;
		align-items: center;
	}

	.product-text-right {
		padding-left: 15px;
		text-align: center;
	}

	.product-text-left {
		margin-left: 0;
		text-align: center;
	}

	.thumbnail h4 {
		font-size: 22px;
	}

	.caption {
		padding: 9px;
	}

	.caption h4 {
		font-size: 20px;
	}

	.caption p {
		font-size: 16px;
	}
}

/* ----- footer ----- */
.footer {
	color: #fff;
	display: block;
	width: 100%;
	background-color: #573a32;
	padding: 10px 0;
}

/* ----- gotop ----- */
.back-to-top {
	display: none;
	padding: 7px 10px;
    border-radius: 50%;
    background-color: #eb6923;
    border-color: #eb6923;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.back-to-top:hover {
    background-color: #eb6923;
    border-color: #eb6923;
    opacity: 0.8;
}

 .back-to-top:active, .back-to-top:focus {
	background-color: #eb6923 !important;
    border-color: #eb6923 !important;
 }

	