/*========================================================
             Channel Index CSS - 頻道頁
=========================================================*/

/*====== 輪播區 ======*/
.channel-carousel {
    padding-right: 0;
}
.pgwSlider a span {
    color: #fff;
}
.pgwSlider a:hover span, .pgwSlider .ps-caption a:hover {
    color: #fff !important;
}

/*======= 看食譜-食譜分類 ======*/
.box-sort {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
.box-sort.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
}
.box-sort .sort-title {
    font-size: 18px;
    font-weight: bold;
}
.box-sort a.sort-title:hover, .sort a.sort-title:active, .sort a.sort-title:focus {
    color: #554646;
}
.box-sort .list-group {
    margin-top: 5px;
}
.box-sort .list-group-item {
    color: #8f857d;
    padding: 4px 0;
    padding-left: 15px;
    border: none;
    outline: none;
}
.box-sort a.list-group-item:hover, .box-sort a.list-group-item:active, .box-sort a.list-group-item:focus {
    color: #554646;
    background-color: #fff;
}
.box-sort img {
    border-radius: 50%;
}
.sortlist {
    padding: 0;
}

/*====== 好食報-文章分類 ======*/
.stopic-sort {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.stopic-sort .box-sort {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100px;
    margin-bottom: 25px;
}

/*====== 好食材TV-最新影音 ======*/
.box-article .tv-img {
    position: relative;
}
.box-article .glyphicon-play-circle {
    color: #fff;
    font-size: 60px;
    opacity: 0.6;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 500ms ease-in-out;
    margin-top: -30px;
    margin-left: -30px;
}
.box-article a:hover .glyphicon-play-circle {
    color: #fff !important;
    opacity: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.box-article .duration {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 6px 10px 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
}
.box-article a:hover .duration {
    background-color: #000;
}

/*====== 達人專區-達人介紹 ======*/
.card-info {
    border: 1px solid #edeae4;
    background-color: #faf8f4;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.card-img {
    height: 200px;
    overflow: hidden;
    position: relative;
}
.card-img img {
    width: 100%;
}
.card-img a {
    position: absolute;
    top: 10px;
    right: 10px;
    border-bottom: 1px solid #fff;
}
.card-img a:hover {
    border-color: #ff9000;
}
.card-img a span {
    color: #fff;
}
.card-img::after {
    display: block;
    content: "";
    width: 100%;
    height: 50px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 45%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 45%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 45%, rgba(0, 0, 0, 1) 100%);
}
.card-txt {
    position: relative;
}
.card-user {
    padding: 0 15px;
    margin-top: -40px;
    margin-bottom: 20px;
}
.card-user::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.carduser-img, .carduser-name {
    display: inline-block;
    vertical-align: middle;
}
.carduser-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.carduser-img img {
    width: 100%;
}
.carduser-img:hover img {
    opacity: 1;
}
.carduser-name {
    margin-left: 15px;
}
.carduser-name h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 15px;
}
.carduser-name h3 a {
    color: #fff;
    font-size: 20px;
}
.carduser-name p {
    margin-bottom: 0;
}
.card-action {
    display: block;
}
.card-action h2 {
    font-size: 18px;
    color: #554646;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-action p {
    color: #8f857d;
    line-height: 24px;
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 52px;
}

/*====== 達人專區-達人群 ======*/
.box-proslider img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}
.box-proslider a:hover img {
    opacity: 0.8;
}
.box-proslider h4 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

@media screen and ( min-width:992px) and ( max-width:1199px) {
    img.img-ad {
        display: none;
    }
}

/*=============== 平板區 ===============*/
@media screen and ( min-width:737px) and ( max-width:1199px) {
    .sortlist {
        text-align: left;
    }
}

@media screen and ( max-width:777px) {
    .stopic-sort .box-sort {
        display: block;
        width: 50%;
    }
}

/*=============== 手機版 ===============*/
@media screen and ( max-width:768px) {
    .channel-carousel {
        padding-left: 0;
    }
    .box-procard {
        padding-left: 10px;
        padding-right: 10px;
    }
    /*====== 看食譜-食譜分類 ======*/
    .box-sort {
        margin-top: 0;
        margin-bottom: 0;
    }
    .box-sort .sort-title {
        margin-left: -14px;
    }
    .box-sort .list-group-item {
        padding-left: 0;
    }
    .box-sort img {
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
    .box-sort .sortlist {
        text-align: center;
        margin-top: 20px;
    }
    .sortlist {
        text-align: center;
        padding-left: 15px;
    }
    .sortlist .list-group {
        text-align: center;
    }
    /*====== 最新影音 ======*/
    .box-article.box-tv img {
        height: 230px;
    }
    /*====== 達人專區-達人群 ======*/
    .pro-slider .slick-prev, .pro-slider .slick-next {
        top: 40%;
    }
    .box-proslider img {
        width: 100%;
        height: 100%;
    }
    .box-proslider p {
        display: inline-block;
        font-size: 12.5px;
        color: #807b77;
        padding: 3px 5px 2px;
        text-align: center;
        margin: 10px 0 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .box-proslider h5 {
        margin-top: 0;
    }
}

@media screen and ( max-width:329px) {
    .box-proslider.slick-slide {
        padding: 10px 45px;
    }
}


/*========================================================
            Channel List CSS - 頻道列表頁
=========================================================*/

/*====== -左側-列表 ======*/
.listmenu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 0;
}
.listmenu li {
    list-style: none;
}
.listmenu li .menu-link {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding: 15px 15px 10px 20px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.listmenu li:hover .menu-link {
    color: #ff9000;
    border-color: #ddd;
}
.listmenu li:last-child .menu-link, .listmenu li:last-child .link {
    border-bottom: 0;
}
.listmenu li.open:last-child .menu-link {
    border-bottom: 1px solid #ddd;
}
.listmenu li .menu-link a {
    font-size: 16px;
    font-weight: bold;
}
.listmenu li.open .menu-link a {
    color: #ff9000;
}
.listmenu li a.link {
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 12px 15px 8px 20px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.listmenu li.active a.link {
    color: #ff9000;
}
.listmenu li i {
    font-size: 15px;
    position: absolute;
    top: 18px;
    left: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.listmenu li i.fa-chevron-down {
    right: 18px;
    left: auto;
}
.listmenu li.open i {
    color: #f88631;
}
.listmenu li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.listmenu li.default .submenu {
    display: block;
}
.submenu {
    display: none;
    padding-left: 0;
}
.submenu li {
    border-bottom: 1px solid #e5e5ef;
}
.submenu li a {
    display: block;
    text-decoration: none;
    font-size: 14.5px;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.submenu a:hover {
    color: #ff9000;
    background-color: #fff4e8;
}
.submenu li.active a {
    color: #ff9000;
    background-color: #fff4e8;
    position: relative;
}
.submenu li.active a::after {
    content: "";
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid #f88631;
}
.listmenu li.open:last-child .submenu li:last-child {
    border-bottom: 0;
}

/*====== 左側-食譜文章 ======*/
a:hover .img-hover {
    opacity: 0.8
}
a:hover h4 {
    color: #ff9000 !important;
}
.box-content + .box-content .row {
    padding-top: 30px;
}
.box-content h2, .box-content h4 {
    font-size: 20px; 
    line-height: 30px;
    color: #4b4137;
    margin-top: 0;
}
.box-content p {
    color: #8f857d;
    line-height: 24px;
}
.box-content p.label-tag {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;    
    background-color: #fff;
    border: 1px solid #554646;
    vertical-align: middle;
    padding: 0 7px;
    margin-bottom: 0;
}
.box-content p.label-new {
    color: #fff;
    border-color: #f27362;
    background-color: #f27362;
}
.box-content p.label-video {
    color: #554646;
}
.box-content p.label-love, .label-love, .box-content p.label-view, .label-view {
    display: inline-block;
    font-size: 14px;
    color: #554646;
    margin-left: 10px;   
    margin-bottom: 0;
}
.box-left img {
    width: 100%;
    height: 145px;
    object-fit: cover;
}
.box-left p.label-love, .box-left p.label-view {
    margin-left: 0;
    margin-right: 10px;   
}

/*====== 左側-TV文章 ======*/
.tv-img {
    display: block;
    position: relative;
}
.glyphicon-play-circle {
    color: #fff;
    font-size: 60px;
    opacity: 0.6;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 500ms ease-in-out;
    margin-top: -30px;
    margin-left: -30px;
}
a:hover .glyphicon-play-circle {
    color: #fff !important;
    opacity: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

/*====== 左側-達人文章 ======*/
.prolist h4 {
    margin-bottom: 5px;
}
.user-img {
    display: block;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: auto;
}
.user-img img {
    width: 100%;
    height: auto;
}
.prolist .user-content {
    color: #554646;
    font-size: 14px;
    margin-bottom: 10px;
}

/*====== 右側 ======*/
.col-md-4 .title {
    margin-top: 35px;
    margin-bottom: 15px;
}
.box-rightimg {
    margin-bottom: 20px;
}
.box-themetv {
    margin-bottom: 20px;
}
.box-themetv img {
    margin: 0 auto;
}
.col-md-4 .product {
    padding-bottom: 0;
}
.article {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-article .thumbnail {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
img.article-rightimg {
    width: 100%;
    height: 113px;
    object-fit: cover;
}

/*=============== 平板區 ===============*/
@media screen and (min-width:737px) and (max-width:1199px) {
    .prolist img {
        height: auto;
        object-fit: contain;
        padding: 0;
    }
}

@media screen and (max-width:991px) {
    .box-rightimg {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    img.article-rightimg {
        height: 230px;
    }
}

/*=============== 手機版 ===============*/
@media screen and ( max-width:768px) {
    .breadcrumb {
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .col-md-8 .title {
        margin: 10px -5px 5px;
    }
    /*====== 手機-分類列表 ======*/
    .active-bg {
        background: #fffcd1;
        color: #554646;
    }
    .form-control {
        padding-right: 0;
        color:#554646; 
    }
    .moble-listmenu .col-xs-12 {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .moble-listmenu .col-xs-12:last-child {
        margin-bottom: 20px;
    }
    .moble-listmenu .col-xs-12 .col-xs-6 {
        padding-left: 0;
        padding-right: 0;
    }
    .moble-listmenu .col-xs-12 .col-xs-6:first-child {
        padding-right: 5px;
    }
    /*====== 左側-食譜文章 ======*/
    .box-content .box-left, .box-content .box-right {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-left img {
        margin: 0 auto;
    }
    .box-content h4 {
        line-height: 30px;
    }
    .box-content p {
        padding-bottom: 0;
    }
    /*====== 左側-達人文章 ======*/
    .prolist .user-img {
        width: 150px;
        height: 150px;
        margin-top: 5px;
    }
    /*====== 右側 ======*/
    .box-theme {
        padding-left: 10px; 
        padding-right: 10px;
    }
    .col-md-4 .product {
        padding-bottom: 10px;
    }
    .box-article {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-themetv {
        padding-left: 10px;
        padding-right: 10px;
    }
    img.article-rightimg {
        height: 125px;
    }
}

@media screen and ( max-width:500px) {
    .box-right p {
        display: none;
    }
    .box-right p.label-tag, .box-right p.label-love, .box-right p.label-view {
        display: inline-block;
    }
    .prolist p {
        display: inline-block;
    }
}


/*========================================================
            Channel Content CSS - 底層頁
=========================================================*/

/*=============== 看食譜 ===============*/
/*====== 左側-食材 ======*/
.title h1 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.title .time-issue {
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
}
.recipeimg img, .box-step img {
    margin: auto;
}
.recipedata {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}
.recipedata p.label-love, .recipedata p.label-view {
    margin-left: 0;
    margin-right: 10px;
}
.table > thead {
    border-top: 0;
    border-bottom: 1px dotted #555;
}
.table > thead > tr {
    display: inline-block;
    border-bottom: 2px solid #f88631;
    margin-bottom: -1.5px;
}
.table > thead > tr > th {
    font-size: 18px;
    border-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
}
.table > tbody > tr > td {
    border-top: 0;
    border-bottom: 1px dotted #ddd; 
    padding: 12px 0 8px;
}
.table > tbody > tr > .deal{
    width: 75px;
}

/*====== 左側-料理步驟 ======*/
.title-step {
    border-bottom: 1px dotted #555;
    margin: 25px 0px 15px;
}
.title-step h3 {
    display: inline-block;
    font-size: 18px;
    color: #554646;
    font-weight: bold;
    border-bottom: 2px solid #ff9000;
    padding-bottom: 5px;
    margin: 0 0 -1px 0;
}
.title-step2 {
    margin-left: 15px;
    margin-right: 15px;
}
hr {
    border-top: 1px solid #ddd;
}
.box-step span {
    font-size: 26px;
    font-weight: bold;
}
.intro p, .box-step p {
    font-size: 16px;
    line-height: 32px;
}

/*====== 左側-私房撇步 ======*/
.tip h4 {
    font-weight: bold;
}
.well {
    font-size: 16px; 
    line-height: 26px;
    border-radius: 0; 
    border: 0px; 
    border-top: 3px solid #554646; 
    background-color: rgb(250, 248, 244);
    position: relative;
}
.well::after {
    content: "";
    width: 0px;
    height: 0px;
    border-color: #554646 #fff transparent transparent;
    border-style: solid solid solid solid;
    border-width: 15px 15px 0px 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.well h5 {
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
}

/*====== 左側-分類標籤 ======*/
.keyword p {
    display: inline-block;
    margin-bottom: 0;
}
.box-keyword span {
    font-size: 12.5px;
}
.box-keyword {
    color: #554646;
    font-size: 13.5px;
    font-weight: 500;
    padding: 8px 10px 6px;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    line-height: 40px;
    border-radius: 5px;
}

/*====== Google廣告 ======*/
.ads-content { 
    margin-bottom: 55px;
}

/*====== 左側-留言回覆 ======*/
.comment-img {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: 1px solid #f4f2ed;
    border-radius: 50%;
}
.comment-img img {
    width: 100%;
}
.box-comment-content {
    background-color:#faf8f4; 
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #f4f2ed;
}
.box-comment-content::before {
    content: "";
    width: 0px;
    height: 0px;
    border-color: transparent #faf8f4 transparent transparent;
    border-style: solid;
    border-width: 7.5px 15px 7.5px 0;
    position: absolute;
    left: -12px;
    top: 20px;
}
.comment-name {
    display:inline-block; 
    font-size: 15px;
    font-weight: bold; 
    margin-bottom: 10px;
}
.comment-text {
    display: block;
    padding-bottom: 20px;
}
.comment-time {
    color: #8f857d;
    display: block;
    font-size: 12.5px;
}
.comment .panel-group {
    margin-bottom: 0;
}
.box-comment .panel {
    box-shadow: none;
}
.box-comment .panel-default {
    border-color: #fff;
}
.box-comment > .panel-default > .panel-heading {
    color: #554646;
    background-color: #fff;
    border-color: #fff;
}
.box-comment > .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #fff;
}
a.btn-message:hover, a.btn-message:active, a.btn-message:focus {
    color: #fff !important;
}
.box-comment .panel-default .panel-body .row {
    border-bottom: none;
}

/*====== 右側-個人專區 ======*/
.user {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.user .row {
    margin-left: 0;
    margin-right: 0;
}
.box-user {
    text-align: center;
}
.box-user .user-img {
    width: 120px;
    height: 120px;
}
.user-content {
    display: inline-block;
    padding: 5px;
    background-color: #f4f2ed;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-user h3 {
    font-size: 22px; 
    font-weight: bold;
}
.box-user h3:first-letter {
    text-transform: uppercase;
}
.desc {
    margin: 0 auto;
    max-height: 80px;
    margin-bottom: 10px;
    overflow: hidden;
}
.user-text {
    color: #8f857d;
    text-align: left;
    line-height: 28px;
}
.btn-more {
    display: none;
    color: #554646 !important;
    background-color: #fff;
    border: 0;
    padding: 0;
    transition: all 0.2s ease;
}
.btn-more span {
    font-size: 14.5px;
}
.btn-more .less, .btn-more.expand .more {
    display: none;
}
.btn-more.expand .less {
    display: inline;
}
.btn-more:hover {
    color: #ff9000 !important;
    box-shadow: none;
}
.btn-more:focus {
    outline: none;
}
.row.user-total {
    padding: 20px 20px 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.user-total a {
    font-size: 26px; 
    font-weight: bold;
}
.user-total p {
    font-size: 16px !important;
}
.btn-friend {
    display: block;
}

/*=============== 平板區 ===============*/
@media screen and (min-width:769px) and (max-width:1024px) {
    .comment-img {
        width: 100%;
        height: auto;
    }
}

/*=============== 手機版 ===============*/
@media screen and (max-width:768px) {
    .title .time-issue {
        display: block;
        font-size: 13px;
        float: none;
        margin-bottom: 10px;
    }
    .recipeimg, .composition {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-step {
        margin-top: 8px;
    }
    .title-step2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .title-step-m, .intro, .tip, .keyword {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 20px;
    }
    .step .col-sm-8, .step .col-sm-4 {
        padding: 5px 10px 10px;
    }
    .step p {
        line-height: 24px;
        margin-bottom: 0;
    }
    hr {
        margin: 15px -5px;
    }
    .comment {
        margin-bottom: 20px;
    }
    .box-comment .col-xs-3 {
        padding-left: 0;
    }

    .comment-img {
        width: 100%;
        height: auto;
    }
    .user {
        margin-left: -5px;
        margin-right: -5px;
    }
    .user-content {
        margin-top: 0;
    }
}

/*=============== 好食報 ===============*/
/*====== 左側-文章 ======*/
.author {
    color: #8f857d;
    font-size: 14px;
}
.content blockquote {
    font-size: 16px;
    line-height: 28px;
    border-left: 5px solid #f88631;
    margin-top: 20px;
}
.content p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0;
}
.content figure {
    margin-bottom: 15px;
}
.content figure img {
    padding: 8px 0;
    margin: 0 auto; 
}
.content figure p {
    font-size: 14.5px;
}
.content a {
    display: block;
    font-size: 16px;
    line-height: 36px;
    text-decoration: underline;
}

/*====== 左側-推薦商品 ======*/
.recommend {
    background: rgb(250, 248, 244);
    border: 1px solid #f4f2ed;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
}
.title-recommend{
    font-size: 20px; 
    color:#f27362; 
    font-weight: bold; 
    line-height: 36px; 
    margin-top: 0;
}
.recommend .product .thumbnail {
    background: rgb(250, 248, 244);
    margin-bottom: 0;
    padding: 0;
}
.recommend .product .thumbnail p {
    margin-bottom: 0;
}

/*====== 左側-延伸閱讀 ======*/
.link {
    line-height: 32px;
}
.link h4 {
    font-size: 18px; 
    color:#f27362; 
    font-weight: bold; 
}
.link a {
    display: block;
    font-size: 16px;
    margin-left: 8px;
}
.link a::before {
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 14.5px;
    margin-right: 5px;
}

/*=============== 手機版 ===============*/
@media screen and ( max-width:768px) {
    .content, .recommend, .link {
        margin-left: -5px;
        margin-right: -5px;
    }
    .recommend {
        padding: 10px;
    }
}

/*=============== 好食TV ===============*/
.embed-tv {
    margin-top: 20px;
    margin-bottom: 20px;
}







































/*========================================================
                   專題底層頁
=========================================================*/

.jumbotron.subjectbg {
    background-size: cover;
    min-height: 45vh;
    background-position: center center;
}
.subjecthead {
    margin-top: 2.25%;
}
.subjecthead h4 {
    font-size: 24px; 
    color: rgba(255, 255, 255, 0.8); 
    font-weight:bold; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 5); 
    line-height: 36px;
}
.subjecthead h1 {
    font-size: 46px; 
    font-weight: bold;
    color: #fff; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 2);
    margin: 15px 0 30px;
}
.subjecthead p {
    font-size: 20px; 
    font-weight:bold; 
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 2);
    padding: 0 50px;
}

/*====== 上方食譜/文章 ======*/
.subject-title {
    font-size: 22px;
    font-weight: bold;
    padding: 0 15px;
    margin: 15px 0;
}
.subject-left {
    margin-bottom: 15px;
}
.subject-right h2 {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px dotted #554646; 
    padding-bottom: 10px; 
    margin-bottom: 25px; 
}
.subject-right p {
    font-size: 18px; 
    line-height: 32px;
}
.subject-user {
    display: block; 
    margin: 10px 0 15px;
}

/*====== 下方食譜/文章 ======*/
.subject {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.box-subject {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #edeae4;
    background-color: #faf8f4;
}
.box-subject img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.subject-action {
    padding: 8px 10px;
}
.subject-action a {
    color: #8f857d;
    font-size: 13px;
}
.subject-action h4 {
    font-size: 18px;
    color: #554646;
    font-weight: bold;
}

/*=============== 平板區 ===============*/
@media screen and (min-width:737px) and (max-width:1024px) {
    .subject-right h2 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .subject-right p {
        font-size: 16px; 
        line-height: 24px;
    }
    .box-subject img {
        height: 120px;
    }
}

/*=============== 手機版 ===============*/
@media screen and ( max-width:736px) {
    .subjecthead h4 {
        font-size: 20px;
    }
    .subjecthead h1 {
        font-size: 28px;
    }
    .subjecthead p {
        font-size: 16px;
        padding: 0;
    }
    .subject-left {
        margin-bottom: 0;
    }
    .subject-right {
        margin-bottom: 15px;
    }
    .subject-right h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .subject-right p {
        font-size: 14.5px; 
        line-height: 24px;
    }
    .subject-title {
        padding: 0 10px;
    }
    .subject-left, .subject-right {
        padding-left: 10px;
        padding-right: 10px;
    }
    .subject .col-xs-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-subject img {
        height: 120px;
    }
    .subject-action {
        padding: 0 5px;
    }
    .subject-action h4 {
        font-size: 16px;
    }
}




/*========================================================
                   個人底層頁
=========================================================*/

/*====== 個人連結按鈕 ======*/
.user-community {
    margin-top: 10px;
}
.user-community .btn-community {
    border-color: #dad5ca;
}

/*====== 分類列表 ======*/
.listmenu-user {
    margin-bottom: -10px;
}
.listmenu-user .btn-basic {
    font-size: 14.5px;
    padding: 8px 12px 6px;
    margin-bottom: 8px;
}
.listmenu-user .btn-basic.active {
    color: #fff !important;
    background-color: #554646 !important;
}
.listmenu-user .btn-basic.active:hover, listmenu-user .btn-basic.active:active, listmenu-user .btn-basic.active:focus {
    background-color: #413732 !important;
}

/*====== 食譜search ======*/
.user-search {
    margin: 2px 0 12px;
    padding: 0;
}
.user-search .input-group .form-control {
    border-radius: 4px;
}
.user-search button {
    color:#554646;
    border: 0;
    background: none;
    border-radius: 3px;
    padding: 2px 1px;
    margin-top: 1px;
    margin-bottom: 0;
    position: relative;
    left: -25px;
}
.user-search .input-group .form-control:focus + button {
    z-index: 3;   
}
.user-search button:hover, .user-search button:active, .user-search button:focus {
    background-color: #fff !important;
    box-shadow: none;
}

/*--- 食譜/文章 ---*/
.user-article .thumbnail {
    position: relative;
}
.user-article .icon {
    margin-top: 6px;
}
.user-article .edit {
    position: absolute; 
    top: 18px; 
    right: 8px;
}
.user-article .edit a {
    font-size: 14px; 
    color: #fff;
    padding: 8px 6px; 
    background-color: #000; 
    opacity: 0.8; 
    border-radius: 3px; 
}

/*====== 粉絲/好友 ======*/
.box-fans {
    margin-bottom: 15px;
}
.box-fans .row {
    border-bottom: 1px solid #ddd;
}
.box-fans .user-img img {
    width: 90px; 
    height: 90px;
}
.box-fans h4 {
    font-size: 16.5px; 
    font-weight: bold;
}
.box-fans h4::first-letter {
    text-transform: uppercase;
}
.user-grade {
    color: #8f857d; 
    font-size: 13px; 
    margin: 15px 0;
}
.user-grade img {
    margin-top: -6px;
}
.user-grade span {
    display: inline-block; 
    color: #8f857d;
    border-left: 1px solid #ddd; 
    padding-left: 8px; 
}

@media screen and (min-width:1025px) and ( max-width:1199px) {
    .box-fans .user-img img {
        width: 75px;
        height: 75px;
    }
}

/*=============== 平板區 ===============*/
@media screen and (min-width:737px) and (max-width:1024px) {
    .box-fans .user-img img {
        width: 75px;
        height: 75px;
    }
}

/*=============== 手機版 ===============*/
@media screen and ( max-width:736px) {
    .box-fans .col-xs-3, .box-fans .col-xs-9 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-fans .user-img img {
        width: 60px;
        height: 60px;
    }
}